<?xml version="1.0" encoding="UTF-8"?>
<project xmlns:ivy="antlib:org.apache.ivy.ant"
	xmlns:spring-boot="antlib:org.springframework.boot.ant" name="myapp"
	default="build">

	<property name="spring-boot.version" value="1.5.10.RELEASE" />

	<property name="build.compiler" value="org.eclipse.jdt.core.JDTCompilerAdapter" />

	<target name="resolve" description="--> retrieve dependencies with ivy">
		<ivy:retrieve pattern="lib/[conf]/[artifact]-[type]-[revision].[ext]" />
	</target>

	<target name="classpaths" depends="resolve">
		<path id="compile.classpath">
			<fileset dir="lib/compile" includes="*.jar" />
		</path>
	</target>

	<target name="init" depends="classpaths">
		<delete dir="build" />
		<mkdir dir="build/classes" />
	</target>

	<target name="compile" depends="init" description="compile">
		<javac srcdir="src" destdir="build/classes" classpath="classpath"
			source="1.8" target="1.8">
		</javac>
	</target>

	<target name="clean" description="cleans all created files/dirs" depends="compile">
		<delete dir="target" />
 		<copy todir="build/classes">
			<fileset dir="config">
				<exclude name="**/*.java" />
			</fileset>
		</copy>
	</target>

	<target name="build" depends="clean">
		<spring-boot:findmainclass mainclass="api_builder.Application"
			property="main-class" />

		<spring-boot:exejar destfile="target/spring_final.jar"
			start-class="api_builder.Application" classes="build/classes">

			<spring-boot:lib>
				<fileset dir="lib">
					<!-- <include name="config/*.properties" /> -->
				</fileset>
			</spring-boot:lib>
		</spring-boot:exejar>
	</target>
</project>