<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{fragments/layout}">
<head>
<meta charset="ISO-8859-1">
<title>User Modification</title>
</head>
<body>
	<div layout:fragment="content">
		<h1 class="title is-4 has-text-centered">User modification</h1>
		<div class="box">
			<div class="columns is-centered">
				<div class="column is-4 is-centered">
					<form name="login" th:action="@{edit?id=__${user.id}__}"
						method="post" th:object="${user}">
						<div class="columns">
							<div class="column is-centered">
								<div class="field ">
									<label class="label">Username</label>
									<div class="control">
										<input type="text" name="username" id="username"
											class="input is-info" th:value=${user.username}
											th:field="*{username}" /> <span
											th:if="${#fields.hasErrors('username')}"
											th:errors="*{username}" style="color: red;"></span>
									</div>
								</div>
								<div class="field ">
									<label class="label">Email</label>
									<div class="control">
										<input type="email" name="mail" id="mail"
											class="input is-info" th:value=${user.mail}
											th:field="*{mail}" /> <span
											th:if="${#fields.hasErrors('mail')}" class="help-block"
											th:errors="*{mail}" style="color: red;"></span>
									</div>
								</div>
								<div class="field ">
									<label class="label">Max Quota</label>
									<div class="control">
										<input type="text" name="maxquota" id="username"
											class="input is-info" th:value=${user.maxquota}
											th:field="*{maxquota}" /> <span
											th:if="${#fields.hasErrors('maxquota')}"
											th:errors="*{maxquota}" style="color: red;"></span>
									</div>
								</div>
								<div class="field is-grouped">
									<div class="control">
										<input class="button is-link" type="submit" value="Submit" />
									</div>
								</div>
							</div>
							<div class="column is-4">
								<div class="field ">
									<label class="label">Group</label>
									<div class="control">
										<div class="select is-info is-3">
											<select multiple size="5" th:field="*{group}">
												<option th:value="null">No group</option>
												<option th:each="group : ${groups}" th:text="${group.name}"
													th:value="${{group}}"
													th:selected="${user.group != null} and ${group.id} == ${user.group?.id} ? true : false"></option>

											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="columns is-centered">
				<div class="column is-4 is-centered"></div>
				<h1 class="title is-4 has-text-centered">User permission</h1>
				<form name="login" th:action="@{edit/perm?id=__${user.id}__}"
					method="post" th:object="${userpermwrapper}">
					<table class="table is-fullwidth">
						<thead>
							<tr>
								<th>Entity</th>
								<th>Selection</th>
								<th>Creation</th>
								<th>Updating</th>
								<th>Deletion</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="userperm : ${userpermwrapper.userPermList}">
								<td th:text="${userperm.idEntityConf}"></td>
								<td><input type="checkbox" th:checked="${userperm.selection}"/></td>
								<td><input type="checkbox" th:checked="${userperm.selection}"/></td>
								<td><input type="checkbox" th:checked="${userperm.creation}"/></td>
								<td><input type="checkbox" th:checked="${userperm.updating}"/></td>
								<td><input type="checkbox" th:checked="${userperm.deletion}"/></td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>
</body>
</html>